AWS_ACCESS_KEY_ID='ABCD'
AWS_SECRET_ACCESS_KEY='DEF'

BACKUP_FROM='/Users' # Change this to the path you want to backup. This is the path on the host, not the container.
EXCLUDE_FILE='./exclude-from-backups.txt' # Change this to the path of your exclude file. This is the path on the host, not the container.
RESTORE_D='./restore_d' # This is the path outside the container where you want to restore files to.

RESTIC_REPOSITORY='s3:s3.home.haus/example'
RESTIC_PASSWORD='two-all-beef-patties-special-ketchup-mustard'
RESTIC_TAG='exmpale-tag'
